:root {
  background-color: aqua;
}
.li_task {
  display: inline-flex;
  gap: 5px;
}
.btn2 {
  border: none;
  background-color: aqua;
}
button:hover {
  background-color: rgb(212, 42, 30);
  border-radius: 3px;
}
button:active {
  background-color: antiquewhite;
}
#testDiv2 {
  background-color: bisque;
}
#testDiv2:hover {
  transform: scale(1.2);
  transition-timing-function: linear;
}
